/* Main Page */
.main-page {
  margin-left: 10px;
  user-select: none;
}

/* Current Course */
.current-course {
  display: flex;
}

.curent-course-icon {
  width: 150px;
}

.main-information {
  margin-left: 30px;
  margin-top: 10px;
}

.course-name h1 {
  font-weight: 600;
  font-size: 30px;
}

.lessons-test-progress {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.lessons-test-progress-title {
  font-size: 18px;
}

.lessons-progres {
  margin-top: 10px;
  grid-column: 2;
  grid-row: 2;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 50px;
  position: relative;
  width: 480px;
}

.lessons-progress-span {
  left: 50%;
  letter-spacing: .8px;
  position: absolute;
  text-transform: uppercase;
  transform: translateX(-50%);
  white-space: nowrap;
  font-weight: 700;
  color: #000000;
  z-index: 2;
}

.lessons-progres-passed {
  width: 50px;
  height: 20px;
  background-color: #2AAE09;
  border-radius: 50px;
  position: relative;
}

.lessons-progres-passed.lessons {
  width: 180px;
}

.lessons-progres-passed.tests {
  width: 80px;
}

.tests-progress {
  margin-left: 80px;
}

.academy-link {
  text-align: center;
  margin-top: 10px;
}

.academy-link-span {
  color: #C0A080;
  cursor: pointer;
}

/* Awards */
.awards-league {
  display: flex;
  justify-content: space-between;
}

.user-awards {
  margin-top: 48px;
  width: 490px;
}

.awards-title {
  text-align: center;
  font-size: 25px;
}

.awards-icons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 28px;
  gap: 30px;
}

.award-icon {
  width: 100px;
}

.award-icon.isnot-get {
  filter: grayscale(100%);
}

/* League */
.league {
  margin-top: 48px;
  width: 650px;
}

.main-user-table {
  margin-top: 28px;
  border-top: 2px solid #efefef;
}

.user-in-table {
  text-decoration: none;
  color: #7882A4;
  display: flex;
  align-items: center;
  padding: 8px 24px 8px 24px;
  font-size: 18px;
  border-radius: 20px;
}

.user-in-table:hover {
  background-color: #efefef;
}

.main-table-place {
  width: 45px;
  font-weight: 600;
}

.main-table-user-icon {
  width: 50px;
  border-radius: 50%;
  margin: 0 24px 0 20px;
}

.username-rate {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-table-username {
  font-size: 20px;
  font-weight: 600;
}

.main-table-rate {
  font-weight: 300;
}

.user-in-table.you {
  background-color: #DBDFAA;
}

.more-tables {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 18px;
  color: #C0A080;
  cursor: pointer;
}


/* Dark Theme */
.main-page-dark-theme {
  background-color: #312e2b;
  color: #fff;
}