.enter-button {
  margin-top: 8px;
  border: none;
  background-color: rgb(28,176,246);
  padding: 8px;
  padding-inline: 24px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 20px;
  box-shadow: 0 4px 0 rgb(24,153,214);
  cursor: pointer;
}

.enter-button.active {
  box-shadow: none;
  margin-top: 14px;
}


/* Dark Theme */
.login-dark-theme {
  background-color: #312e2b;
  color: #fff;
}